<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .container {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
    }

    .post {
      padding: 2rem;
      background: #fdfdfd;
      border: 1px solid #eee;
      border-radius: 3px;
      margin-bottom: 1rem;
      width: 400px;
    }
  </style>
</head>

<body>
  <div class="container">
    {{#each state.posts}}
    <div class="post">{{this.data.title}}</div>
    {{/each}}
  </div>
</body>

</html>